notifications:
  url: URL
aws:
  accessKeyId: asd
  secretAccessKey: sdf
  region: us-west-1
  bucket: bucket
Cameras:
  entryway:
      title: "Entryway Camera"
      name: "entryway.gif"
      url: "http://192.168.1.1/snap.jpeg"
      frames: 2
  frontyard:
      title: "Frontyard Camera"
      name: "frontyard.gif"
      url: "http://192.168.1.1/snap.jpeg"
      frames: 2
  backporch:
      title: "Back Porch Camera"
      name: "backporch.gif"
      url: "http://192.168.1.1/snap.jpeg"
      frames: 2
http:
  port: 8080
